.main {
    display: block;
    height: 100vh;
    background: #FFF;
}

.mainPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 86%;
    min-width: 100%;
    background: #FFF;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    backdrop-filter: blur(8px);
}

.reviewsContainer{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    min-height: 500px;
    white-space: nowrap;
    padding: 10px;
    gap:10px;
}

.video {
    display: block;
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 120%;
    width: auto;

    object-fit: contain;
    content: normal;
    z-index: 0;
}

.readingListBox {
    background-color: #E5E5E5;
    width: 700px;
    height: 552px;
    top: 100px;
    border-radius: 10px;
    position: relative;
    padding: 25px;
    padding-top: 35px;

    box-shadow: 0 0 100px rgba(0,0,0,.7);
    content: " ";
    border: 1px solid #000;

}
.readingListBoxBody {
    margin-top: 15px;
}
.singleBookContainer {
    margin-bottom: 10px;
}
.singleBookContainer span {
    font-weight: 250;
}
.singleBookContainer h2 {
    font-weight: 600;
    font-size:large;
}
.singleBookContainer p {
    font-weight: 300;
    font-size:medium;
}

@media (min-width:768px) {
    .video {
        height: 150%;
        width: 150%;
    }
}
