.main {
    display: block;
    width: 1440px;
    height: 900px;

    background: #FFF;
}

.mainPart {
    display: flex;
    height: 796px;
    padding: 123px 176px 178px 303px;
    justify-content: flex-end;
    align-items: center;

    background: linear-gradient(-45deg, #6452ee, #b73ce7, #1e91bb, #32b395);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    backdrop-filter: blur(8px);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.textContainer{
    width: 961px;
    height: 495px;
    display: flex;
    justify-content: space-between;
}
.greeting {
    color: #000;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.28px;

    padding-top: 185px;
    width: 286px;
}

.personalIntroduction {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 33px */
    
    width: 614px;
}